.footer {
    height: 40px !important;
    min-height: 40px;
    background-color: #2f2f2f;
    border: none;
    color: white;
}

.description {
    padding-left: 24px;
}

.description a {
    color: #e91e63;
}


.icon {
    text-decoration: none;
}

.issues {
    width: 200px;
    background-color: #e91e63;
    border: none;
    color: white;
    font-size: 1em;
    height: 100%;
    text-align: center;
    text-decoration: none;
}

.issues .content:hover {
    text-decoration: underline;
}
