<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid nopadding">
        <div class="col-lg-5 nopadding self-center navbar-text text">This is an open source project - <a href="https://github.com/DBCG/cql_runner">feel free to leave feedback and/or contribute</a></div>
        <div class="col-lg-2 nopadding button self-center issues pull-right">
            <a href="https://github.com/DBCG/cql_runner/issues/new">Report an issue<span class="glyphicon glyphicon-bullhorn issue"></span></a>
        </div>
    </div>
</nav>