<h2 mat-dialog-title>Configuration</h2>
<mat-dialog-content>
  <section>
    <h3>CQL Engine</h3>
    <mat-form-field appearance="outline">
      <mat-label>Engine Endpoint URL</mat-label>
      <input matInput required [(ngModel)]="config.engineUri" [matAutocomplete]="engineUrlAuto" aria-label="Engine Endpoint URL"/>
      <mat-autocomplete #engineUrlAuto="matAutocomplete">
        <mat-option *ngFor="let option of engineUrlOptions" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </section>

  <section>
    <h3>Patient</h3>
    <mat-form-field appearance="outline">
      <mat-label>Patient Id</mat-label>
      <input matInput [(ngModel)]="config.patientId" aria-label="Patient Id">
    </mat-form-field>
  </section>

  <section>
    <h3>Source Data</h3>
    <mat-form-field appearance="outline">
      <mat-label>Data Source URL</mat-label>
      <input matInput [(ngModel)]="config.dataSourceUri" [matAutocomplete]="dataSourceUrlAuto" aria-label="Data Source URL">
      <mat-autocomplete #dataSourceUrlAuto="matAutocomplete">
        <mat-option *ngFor="let option of dataSourceUrlOptions" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="field-row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="config.dataSourceUsername" aria-label="Source Data Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="config.dataSourcePassword" aria-label="Source Data Password">
      </mat-form-field>
    </div>
  </section>

  <section>
    <h3>Terminology Service</h3>
    <mat-form-field appearance="outline">
      <mat-label>Terminology Service URL</mat-label>
      <input matInput [(ngModel)]="config.terminologyUri" [matAutocomplete]="terminologyUrlAuto" aria-label="Terminology Service URL">
      <mat-autocomplete #terminologyUrlAuto="matAutocomplete">
        <mat-option *ngFor="let option of terminologyUrlOptions" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="field-row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="config.terminologyUsername" aria-label="Terminology Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="config.terminologyPassword" aria-label="Terminology Password">
      </mat-form-field>
    </div>
  </section>

  <section>
    <h3>Library Repository</h3>
    <mat-form-field appearance="outline">
      <mat-label>Library Repository URL</mat-label>
      <input matInput [(ngModel)]="config.librarySourceUri" [matAutocomplete]="librarySourceUrlAuto" aria-label="Library Repository URL">
      <mat-autocomplete #librarySourceUrlAuto="matAutocomplete">
        <mat-option *ngFor="let option of libraryUrlOptions" [value]="option">{{ option }}</mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <div class="field-row">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput [(ngModel)]="config.librarySourceUsername" aria-label="Library Repository Username">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" [(ngModel)]="config.librarySourcePassword" aria-label="Library Repository Password">
      </mat-form-field>
    </div>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button color="primary" [mat-dialog-close]="true">OK</button>
</mat-dialog-actions>
