<app-menu [runner]="this"></app-menu>
<div class="runner">
  <div class="runner-panel">
    <!--Input-->
    <nav class="input">
      <div class="in">
        <h4>Input</h4>
      </div>
      <div class="nav-action">
        <button title="If code is selected, only the selected code will be executed" class="run" [class.running]="running" (click)="run()" mat-raised-button>
          <i class="material-icons icon" *ngIf="!running">play_arrow</i>
          <i class="material-icons icon" *ngIf="running">hourglass_full</i>
          <div>
            {{ running ? 'Running' : 'Run' }}
          </div>
        </button>
      </div>
    </nav>
    <div>
      <textarea cql-code-mirror [type]="EditorType.input">{{ getExample() }}</textarea>
    </div>
  </div>
  <div class="runner-panel">
    <nav class="output">
      <div class="out">
        <h4>Output</h4>
      </div>
      <button class="clear" [class.running]="running" id="clearBtn" (click)="clear()" mat-raised-button>
        <i class="material-icons icon">clear_all</i>
        <div>
          Clear
        </div>
      </button>
    </nav>
    <div>
      <textarea cql-code-mirror [type]="EditorType.output">// See results here</textarea>
    </div>
  </div>
</div>
