:host {
  font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
}

.noPadding {
  padding: 0 !important;
}

.button.running {
  background-color: darkgrey;
}

.button.running:hover {
  cursor: default;
}

button:focus {
  outline: 0;
}
