/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.CodeMirror-linenumber {
  text-align: center !important;
}

.CodeMirror-scroll {
  margin: -1px !important;
}

.CodeMirror {
  /*
      Little hack for a sticky footer: viewscreen height minus height of components displayed.
      Must update when any display component's height is changed.
  */
  min-height: calc(100vh - 220px) !important;
  font-size: 12px !important;
  overflow-y: auto;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}



