/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
}

.CodeMirror-linenumber {
  text-align: center !important;
}

.CodeMirror-scroll {
  margin: -1px !important;
}

.CodeMirror {
  min-height: 600px !important;
  font-size: 12px !important;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}



