:host {
    font-family: 'Segoe UI', Helvetica, Tahoma, Geneva, Verdana, sans-serif;
    height: 100%;
}

.runner {
    /*border-top: 10px solid #2f2f2f;*/
    /*border-bottom: 10px solid #424242;*/
    /*flex: 1 0 auto;*/
    box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    -webkit-box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

h4 {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
}

.in {
    color: #2f2f2f;
    padding-left: 1.5rem;
}

button {
    border: none;
    color: white;
    /* font-size: 1em; */
    height: 100%;
    width: 3.5rem;
    outline: none;
    border-radius: 0;
}

button.run {
    padding: 0.1rem 0rem;
}

button.clear {
    padding: 0.1rem 0rem;
    background-color: #424242;
}

.out {
    color: #efefef;
    padding-left: 1.5rem;
}

button.running {
    background-color: #424242;
}

button.running:hover {
    cursor: default;
}

button:focus {
    outline: 0;
}

.icon {
    /* font-size: 1rem; */
}

.run {
    background-color: #4CAF50;
    font-size: 0.8rem;
}

.clear {
    font-size: 0.8rem;
}

.clear.running {
    opacity: 0;
}

.input {
    border-bottom: 1px solid #efefef;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: #f7f7f7;
}

.output {
    background-color: #272822;
    border-bottom: 1px solid #555651;
    border-top: none;
    border-right: none;
    border-left: none;
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}
