<!--<cql-config (config)="setConfig($event)"></cql-config>-->
<cql-menu [runner]="this"></cql-menu>
<div fxLayout="row" class="runner">
    <div fxFlex="50%">
        <!--Input-->
        <nav class="input" fxLayout fxLayoutAlign="space-between none">
            <div class="in" fxLayout fxLayoutAlign="center center">
                <h4>Input</h4>
            </div>
            <div fxLayout fxLayoutAlign="center center">
                <button title="If code is selected, only the selected code will be executed" class="run" [class.running]="running" (click)="run()" fxLayout="column" fxLayoutAlign="center center" mat-raised-button>
                    <i class="material-icons icon" *ngIf="!running">play_arrow</i>
                    <i class="material-icons icon" *ngIf="running">hourglass_full</i>
                    <div>
                        {{ running ? 'Running' : 'Run' }}
                    </div>
                </button>
            </div>
        </nav>
        <div>
            <textarea cql-code-mirror [type]="EditorType.input">{{ getExample() }}</textarea>
        </div>
    </div>
    <div fxFlex="50%">
      <nav class="output" fxLayout fxLayoutAlign="space-between none">
          <div class="out" fxLayout fxLayoutAlign="center center">
              <h4>Output</h4>
          </div>
            <button class="clear" [class.running]="running" id="clearBtn" (click)="clear()" fxLayout="column" fxLayoutAlign="center center" mat-raised-button>
                <i class="material-icons icon">clear_all</i>
                <div>
                    Clear
                </div>
            </button>
      </nav>
      <div>
          <textarea cql-code-mirror [type]="EditorType.output">// See results here</textarea>
      </div>
    </div>
</div>
