<!--<div class="container-fluid">-->
  <!--<div class="col-lg-5">-->
    <!--<div>-->
      <!--<textarea cql-code-mirror [theme]="'eclipse'" id="editor">// Enter CQL scripts here and hit 'Run'\n</textarea>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div class="col-lg-2 center-block" style="min-height: 600px;">-->
    <!--<button type="button" class="btn btn-success center-block align-middle">Format</button>-->
  <!--</div>-->
  <!--<div class="col-lg-5">-->
    <!--<div>-->
        <!--<textarea cql-code-mirror-->
                  <!--[id]="'editor2'"-->
                  <!--[theme]="'eclipse'"-->
                  <!--[readOnly]="true"-->
                  <!--[rulers]="[{}]"-->
                  <!--[styleActiveLine]="false"-->
                  <!--id="editor2">// See results here-->
        <!--</textarea>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
<!-- TODO: Rework -->
<table class="table" style="min-height: 600px;">
  <tbody>
    <tr style="min-height: 500px;">
      <td>
        <div>
          <textarea [type]="EditorType.input" cql-code-mirror>// Enter CQL scripts here and hit 'Format' </textarea>
        </div>
      </td>
      <td align="center">
        <button type="button" class="btn-lg btn-block btn-success align-middle" style="border: none;" (click)="format()">Format >></button>
      </td>
      <td>
        <textarea cql-code-mirror
          [type]="EditorType.output"></textarea>
      </td>
    </tr>
  </tbody>
</table>
