<nav id="header" class="mx-auto flex">
  <div class="mx-auto self-center flex-auto title">CQL Runner</div>
  <button (click)="toggleResources()" class="self-center button flex">
    <div class="self-center" style="margin-right: 5px;">
      <span class="container md-col-1">CQL Language Resources<i class="material-icons pull-right">help</i></span>
    </div>
  </button>
</nav>
<div class="resources" [hidden]="!resources">
  <ul>
    <li><a href="https://github.com/DBCG/cql_engine/wiki" target="_blank">CQL Engine Documentation Home</a></li>
  </ul>
</div>
<form #f="ngForm" id="form-wrapper">
  <div class="md-flex editors">
    <div id="input-section" class="col-lg-6 nopaddingmargin">
      <div class="row flex">
        <h4 class="self-center col-lg-1 title">Input</h4>
        
        <div id="select-engine" class="col-lg-2 nopadding self-baseline">
          <div class="title">Engine URL</div>
          <div class="link" [hidden]="editingEngineUri" (click)="toggleEditingEngineUri()">{{ model.engineServiceUri }} <i class="material-icons" style="font-size: 0.75em">mode_edit</i></div>
          <div [hidden]="!editingEngineUri">
            <textarea class="input"
              [(ngModel)]="model.engineServiceUri"
              name="engineServiceUri">
            </textarea>
          </div>
        </div>
        <div id="select-fhir" class="col-lg-2 nopadding self-baseline">
          <div class="title">Terminology URL</div>
          <div class="link" [hidden]="editingFhirUri" (click)="toggleEditingFhirUri()">{{ model.fhirServiceUri }} <i class="material-icons" style="font-size: 0.75em">mode_edit</i></div>
          <div [hidden]="!editingFhirUri">
            <textarea class="input"
              [(ngModel)]="model.fhirServiceUri"
              name="fhirServiceUri">
            </textarea>
          </div>
        </div>
        <div id="select-auth" class="col-lg-2 nopadding self-baseline">
          <div class="title">Authorization</div>
          <div class="link" [hidden]="editingAuth" (click)="toggleEditingAuth()">{{ model.Auth }} <i class="material-icons" style="font-size: 0.75em">mode_edit</i></div>
          <div [hidden]="!editingAuth">
            <input type="text"
              class="input"
              [(ngModel)]="model.authUser"
              name="authUser">
            <input type="password"
              class="input"
              [(ngModel)]="model.authPass"
              name="authPass">
          </div>
        </div>
        <div id="select-data" class="col-lg-2 nopadding self-baseline">
          <div class="title">FHIR URL</div>
          <div class="link" [hidden]="editingDataUri" (click)="toggleEditingDataUri()">{{ model.dataServiceUri }} <i class="material-icons" style="font-size: 0.75em">mode_edit</i></div>
          <div [hidden]="!editingDataUri">
            <textarea class="input"
              [(ngModel)]="model.dataServiceUri"
              name="dataServiceUri">
            </textarea>
          </div>
        </div>
        <div id="select-patient" class="col-lg-2 nopadding self-baseline">
          <div class="title">Patient ID</div>
          <div class="link" [hidden]="editingPatientId" (click)="toggleEditingPatientId()">{{ model.patientId }} <i class="material-icons" style="font-size: 0.75em">mode_edit</i></div>
          <div [hidden]="!editingPatientId" (clickOutside)="toggleEditingPatientId()">
            <input type="text"
              class="input"
              [(ngModel)]="model.patientId"
              name="patientId">
          </div>
        </div>

        <button class="button col-lg-1 nopadding flex" [class.running]="running" (click)="runScript()">
          <div class="self-center">
            {{ running ? 'Running...' : 'Run'}}
          </div>
          <i class="material-icons" [hidden]="running">play_arrow</i>
        </button>
      </div>
      <div class="input-window" ace-editor [text]="iText" [mode]="'cql'" [options]="iOptions" [theme]="iTheme" [autoUpdateContent]="true" (textChanged)="onInputChange($event)"></div>
    </div>
    
    <div id="output-section" class="col-lg-6 nopadding">
      <div class="row flex">
        <h4 class="title flex-auto self-center">Output</h4>
        <button class="button col-lg-1 nopadding flex" (click)="clearOutput()">
          <div class="self-auto">
            Clear
          </div>
          <i class="material-icons" [hidden]="running">clear_all</i>
        </button>
      </div>
      <div class="output-window" ace-editor [text]="oText" [mode]="'cql'" [options]="oOptions" [readOnly]="oIsReadOnly" [autoUpdateContent]="true"></div>
    </div>

  </div>
</form>


<div id="introduction">
  <h1>CQL Runner</h1>

  <p>The CQL runner was designed to provide a live testbed for your CQL expressions.</p>

  <p>The CQL service URL may be configured to point to your own CQL engine (our CQL engine endpoint is used by default)</p>

  <p>This is an open-source project–feel free to <a href="https://github.com/DBCG/cql_runner">contribute and leave feedback</a>.</p>

  <p>The execution service end is a <a href="https://github.com/DBCG/cql_execution_service">separate project</a></p>

</div>
