/* You can add global styles to this file, and also import other style files */

html, body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

app-root {
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
}

router-outlet {
  display: none;
}

app-runner {
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
}

.CodeMirror-linenumber {
  text-align: center !important;
}

.CodeMirror-scroll {
  margin: -1px !important;
}

.CodeMirror {
  height: 100% !important;
  font-size: 12px !important;
  overflow-y: auto;
}

table {
  table-layout: fixed;
  word-wrap: break-word;
}

button {
  cursor: pointer;
  font-size: 1rem;
  border: none;
  padding: 0;
  margin: 0;
}

[hidden] {
  display: none !important;
}

.hidden {
  display: none !important;
}

.mat-button {
  color: currentcolor;
}

.mat-button:hover {
  background: #4CAF50;
}
